<!DOCTYPE html>
<html>
<head>
  <title>Dash</title>
  <%= stylesheet_link_tag *%w[scaffold application] %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
